/* my first css */

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffcc;
}
img {
    border: 10px solid green;

}
h1 {
    border: 5px dotted red;
}
blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
ol {
    font-style: oblique;
    background-color: rgb(201, 233, 128);
    line-height: 1.5rem;
}
p {
    color: red;
}
#myid {
    color: #A66F6A;
    font-weight: bold;
}
cite{
    font-size: 1.5rem;
}
h2, h3, .bigbold, a:link {
    color:orange;
}
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}
.hpink {
    font-style: italic;
    font-size: 2rem;
    background-color: salmon;
}
.hpink2 {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(201, 233, 128);
}
ul a:link {
    text-decoration: none;
    font-weight: bold;
    color: lightblue;
}
a:visited {
    color: green;
    font-size: 2rem;
    font-weight: normal;
}
a:hover {
    color: orange;
    text-decoration: underline;
    background-color: black;
}
a.harvard:link {
    color: maroon;
}